version: '3.9' 

services:
    reverse:
        container_name: reverse
        hostname: reverse
        image: nginx:stable-alpine
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - /etc/letsencrypt:/etc/letsencrypt
    idp-catena:
        container_name: idp-catena
        hostname: idp-catena
        image: cavadevop/idp-catena:beta
        expose:
            - "4000"
            - "5000"
        environment:
            MONGODB_URI: ${MONGODB_URI_IDP}
            REDIS_HOST: "dev-redis:6379"
            HYDRA_ADMIN_HOST: "172.31.84.238:9001"
            ENABLE_TLS_VERIFICATION: 0
            OAUTH_LOGIN_CALLBACK: "https://ec2-54-204-24-52.compute-1.amazonaws.com/api/v1/oauth2/login"
            OAUTH_CONSENT_CALLBACK: "https://ec2-54-204-24-52.compute-1.amazonaws.com/api/v1/oauth2/authorize"
            PORT_LISTEN: 5000
    ifps-api:
        container_name: ipfs-api
        hostname: ipfs-api
        image: cavadevop/ipfs-api:beta
        expose:
            - "4000"
        environment:
            MONGODB_URI: ${MONGODB_URI_IPFS}
            JWT_VALIDATION_URI: "http://idp-catena:5000/api/v1/auth/validate_token"
            ADMIN_HYDRA_HOST: "172.31.84.238:9001"
            IPFS_API_SERVER_URI: "http://172.31.78.68:5001/api/v0/"
            IPFS_GATEWAY_URI: "http://172.31.78.68:7000/ipfs/"
            PORT_LISTEN: 4000
            ENABLE_TLS_VERIFICATION: 0
        ports:
            - 5001:5001
            - 7000:7000
    dev-redis:
        container_name: dev-redis
        hostname: dev-redis
        image: redis
networks: 
    default:
        name: backend